.button {
  @include text(16px, 20px);
  font-family: $font-title;
  font-weight: 400;
  color: $white;
  background-color: $green;
  width: 280px;

  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  border: none;
}
