.catalog-add {
  position: relative;
  margin-bottom: 37px;

  @media (min-width: $width-tablet) {
    margin-bottom: 75px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 15px;
  }
}

.catalog-add__wrapper {
  @media (min-width: $width-desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.catalog-add__title {
  position: relative;
  z-index: 1;

  padding-right: 30px;
  margin-top: 27px;
  margin-bottom: 32px;

  @include text(24px, 24px);
  font-family: $font-title;
  font-weight: 400;
  color: $subtitle;

  display: inline-block;
  background-color: $white;

  @media (min-width: $width-tablet) {
    @include text(36px, 36px);
    margin-top: 0;
    padding-left: 37px;
    margin-bottom: 81px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 39px;
    margin-left: -39px;
  }
}

.catalog-add__list {
  @include no-list;

  margin-bottom: 42px;

  @media (min-width: $width-tablet) {
    margin-bottom: 70px;
  }
}
