.contacts {
  position: relative;
  min-height: 400px;
}

.contacts__wrapper {
  position: relative;

  @media (min-width: $width-desktop) {
    padding-top: 95px;
  }
}

.contacts__block {
  display: flex;
  justify-content: space-between;

  padding-top: 12px;
  padding-bottom: 12px;

  @media (min-width: $width-tablet) {
    padding-right: 41px;
    padding-left: 41px;
    padding-top: 45px;
    padding-bottom: 42px;
  }

  @media (min-width: $width-desktop) {
    position: relative;
    justify-content: space-around;
    padding-bottom: 41px;
    padding-top: 46px;
    padding-right: 48px;
    padding-left: 39px;
    width: 570px;

    background-color: $white;
    z-index: 3;
  }
}

.contacts__description {
  @include text(16px, 20px);
  font-family: $font-title;
  font-weight: 400;
  color: $title;
  text-transform: uppercase;

  width: 123px;
  margin-right: 18px;

  @media (min-width: $width-tablet) {
    @include text(20px, 25px);
    width: 160px;
  }
}

.contacts__address {
  @include text(14px, 20px);
  padding-top: 2px;

  @media (min-width: $width-tablet) {
    @include text(16px, 20px);
    width: 160px;
    text-align: right;

    @media (min-width: $width-desktop) {
      text-align: left;
    }
  }
}

.contacts__address-city {
  margin-top: 0;
}

.contacts__address-street {
  margin-bottom: 0;

  @media (min-width: $width-tablet) {
    margin-bottom: 20px;
  }
}

.contacts__map {
  position: relative;

  &::before {
    @include pseudo($display: block, $pos: absolute, $content: "");

    top: 137px;
    left: calc(50% - 30px);

    width: 61px;
    height: 56px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-width: $width-tablet) {
      top: 147px;
      left: calc(50% - 60px);

      width: 120px;
      height: 120px;
    }

    @media (min-width: $width-desktop) {
      top: 153px;
      left: calc(50% + 280px);
    }
  }

  @media (min-width: $width-desktop) {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
}

.contacts__map-iframe {
  display: block;
  border: none;
  width: 100%;

  position: absolute;

  @media (min-width: $width-tablet) {
    height: 400px;
  }
}

.contacts__map-img {
  display: block;
  margin: 0 auto;
  height: 360px;

  @media (min-width: $width-tablet) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $width-desktop) {
    width: 1440px;
    height: 400px;
  }
}
