.container {
  width: $width-mobile;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
    padding: 0 30px;
    margin: 0 auto;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop;
    padding: 0 40px;
    margin: 0 auto;
  }
}
