.contacts {
  position: relative;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
  padding: 0;

  @media (min-width: $width-desktop) {
    justify-content: space-around;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 570px;

    background-color: $white;

    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 1;
  }
}

.contacts__description {
  @include text(16px, 20px);
  font-family: $font-title;
  font-weight: 400;
  color: $title;
  text-transform: uppercase;
  margin-right: 20px;

  @media (min-width: $width-tablet) {
    @include text(20px, 25px);
    width: 160px;
  }
}

.contacts__address {
  @include text(14px, 20px);

  @media (min-width: $width-tablet) {
    @include text(16px, 20px);
    width: 160px;
    text-align: right;

    @media (min-width: $width-desktop) {
      text-align: left;
    }
  }
}

.contacts__map {
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.contacts__map-img {
  display: block;
  margin: 0 auto;
}
