.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link-text {
  @include text(16px, 16px);
  font-family: $font-main;
  color: $text;

  text-decoration: none;

  @media (min-width: $width-tablet) {
    margin-right: 16px;
  }
}

.copyright__link-icon {
  padding-top: 4px;
  margin-right: -6px;
}
