.example {
  position: relative;
  padding-top: 15px;
  padding-bottom: 35px;
  background-color: $bg-grey;

  @media (min-width: $width-tablet) {
    z-index: 1;
    background-color: $white;
    border-top: 1px solid $bg-grey;
    padding-bottom: 79px;

    &::before {
      z-index: -1;

      @include pseudo($display: block, $pos: absolute, $content: "");
      bottom: 0;
      left: 0;
      height: 463px;
      width: 100%;
      background-image: linear-gradient(to right, $bg-grey 50%, #eaeaea 50%);

      @media (min-width: $width-desktop) {
        height: 460px;
      }
    }
  }

  @media (min-width: $width-desktop) {
    border-top: none;
    padding-bottom: 0;
  }
}

.example__wrapper {
  position: relative;
  z-index: 2;

  @media (min-width: $width-desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.example__list-wrapper {
  margin-bottom: 36px;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 52px;
  }

  @media (min-width: $width-desktop) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 34px;


  @media (min-width: $width-desktop) {
    width: 407px;
    margin-bottom: 37px;
  }
}

.example__title {
  @include text(36px, 60px);
  font-family: $font-title;
  color: $title;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;

  @media (min-width: $width-tablet) {
    @include text(60px, 60px);
    width: 450px;
    margin-top: 23px;
    margin-bottom: 64px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 146px;
    margin-top: 54px;
  }
}

.example__item {
  width: 124px;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: $width-tablet) {
    margin-right: 40px;
    width: 164px;
  }
}

.example__item-title {
  @include text(24px, 24px);
  font-family: $font-title;
  font-weight: 400;
  color: $title;
  text-transform: uppercase;
  margin-bottom: 8px;

  @media (min-width: $width-tablet) {
    @include text(30px, 37px);
    padding-bottom: 2px;
  }
}

.example__item-subtitle {
  @include text(12px, 12px);
  font-family: $font-main;
  margin-bottom: -30px;
  background-color: $bg-grey;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $width-tablet) {
    @include text(14px, 14px);
    margin-bottom: -21px;
    margin-left: 16px;
    margin-right: 16px;
    background-color: $white;
  }

  @media (min-width: $width-desktop) {
    background-color: $bg-grey;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.example__description {
  margin-bottom: 23px;

  @media (min-width: $width-tablet) {
    @include text(16px, 24px);
  }

  @media (min-width: $width-tablet) {
    width: 680px;
    margin-bottom: 39px;
  }

  @media (min-width: $width-desktop) {
    width: 439px;
    margin-bottom: 53px;
  }
}

.example__cost-food {
  @include text(14px, 20px);
  font-family: $font-title;
  font-weight: 400;
  color: $title;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $width-tablet) {
    @include text(20px, 20px);
    width: 190px;
    text-align: right;
    padding-top: 5px;
  }

  @media (min-width: $width-desktop) {
    width: 370px;
    text-align: left;
  }
}

.example__cost-food-span {
  @media (min-width: $width-tablet) {
    display: inline-block;
    padding-bottom: 10px;
  }

  @media (min-width: $width-desktop) {
    margin-right: 60px;
  }
}

.example__wrapper-img-button {
  @media (min-width: $width-tablet) {
    position: relative;
  }

  @media (min-width: $width-desktop) {
    align-self: flex-end;
  }
}

.example__image-block {
  position: relative;
  margin-left: 17px;

  @media (min-width: $width-desktop) {
    margin-right: -40px;
  }
}

.example__image {
  display: block;
  margin-left: -33px;
  margin-bottom: 35px;
  max-width: none;

  @media (min-width: $width-tablet) {
    width: 690px;
    margin-left: 0;

    @media (min-width: $width-desktop) {
      margin-left: -25px;
      margin-bottom: 0;
    }
  }
}

.example__image-wrapper {
  @media (max-width: $mobile-width-only) {
    background-color: $bg-grey;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 133px;
  }
}

.example__image-wrapper--after {
  @media (min-width: $width-tablet) {
    overflow: hidden;
    background-image: linear-gradient(to top, #eaeaea 384px, $white 384px);
  }

  @media (min-width: $width-desktop) {
    overflow: hidden;
    background-image: linear-gradient(to top, #eaeaea 460px, $white 460px);
  }
}

.example__image-wrapper--before {
  position: absolute;

  @media (min-width: $width-tablet) {
    width: 338px;
    overflow: hidden;

    background-image: linear-gradient(to top, $bg-grey 384px, $white 384px);
  }

  @media (min-width: $width-desktop) {
    overflow: hidden;
    background-image: linear-gradient(to top, $bg-grey 460px, $white 450px);
  }
}

.example__progress-block {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  min-width: 247px;
  margin-left: auto;
  margin-right: auto;
  // min-width: 200px;
  margin-top: 15px;
  padding-left: 38px;

  @media (min-width: $width-tablet) {
    position: absolute;
    bottom: -10px;
    left: 33px;
    width: 605px;
  }

  @media (min-width: $width-desktop) {
    bottom: 69px;
    left: 36px;
  }
}

.example__progress-range {
  position: relative;
  width: 84px;
  height: 14px;
  border: 1px solid $border;
  border-radius: 10px;
  background-color: $white;
  margin-left: 12px;
  margin-right: 12px;

  @media (min-width: $width-tablet) {
    width: 428px;
    height: 6px;
    border: none;
    background-color: #dcdcdc;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.example__progress-toggle {
  width: 45%;
  height: 6px;
  margin: 3px 5px;
  background-color: $green;
  border-radius: 10px;
  cursor: pointer;

  @media (min-width: $width-tablet) {
    box-sizing: content-box;
    position: absolute;
    top: -17px;
    left: 45%;
    width: 8px;
    height: 8px;
    background-color: $green;
    border: 13px solid $white;
    border-radius: 50%;
    box-shadow: 0 0 0 2px $border, 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
      box-shadow: 0 0 0 2px $border, 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 0 0 2px $green, 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

.example__progress-button {
  @include text(16px, 20px);
  font-family: $font-title;
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;

  border: none;

  @media (min-width: $width-tablet) {
    @include text(20px, 20px);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
    border-bottom: 1px dotted $border;

    &:hover,
    &:focus {
      border-bottom: 1px solid $title;
    }

    &:active {
      border-bottom: transparent;
    }
  }
}
