.example {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  background-color: $bg-grey;
}

.example__wrapper {
  width: $width-mobile;
  margin: 0 auto;
}

.example__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.example__title {
  @include text(36px, 60px);
  font-family: $font-title;
  color: $title;
  font-weight: 400;
}

.example__item-title {
  @include text(24px, 24px);
  font-family: $font-title;
  font-weight: 400;
  color: $title;
  text-transform: uppercase;
}

.example__item-subtitle {
  @include text(12px, 12px);
  font-family: $font-main;
  margin-left: 0;
}

.example__cost-food {
  @include text(14px, 20px);
  font-family: $font-title;
  font-weight: 400;
  color: $title;
  text-transform: uppercase;

  text-align: center;
}

.example__progress-button {
  @include text(16px, 20px);
  font-family: $font-title;
  font-weight: 400;
  text-transform: uppercase;

  border: none;
}
