.form__fieldset {
  border: none;
}

.form__legend {
  @include text(24px, 24px);
  font-family: $font-title;
  color: $title;
  font-weight: 400;
}

.form__label {
  @include text(16px, 18px);
  font-family: $font-title;
  color: $subtitle;
  font-weight: 400;
  text-transform: uppercase;
}

.form__input {
  @include text(16px, 18px);
  font-family: $font-title;
  color: $subtitle;
  font-weight: 400;
  text-transform: uppercase;
}
