.header-block {
  position: relative;
  margin-bottom: 20px;
  font-family: $font-title;
  font-weight: 400;
  text-align: center;
  color: $white;
  display: flex;

  &::before {
    @include pseudo($display: block, $pos: absolute, $content: "");
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 305px;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-size: 320px 305px;
    }

    @media (max-width: $mobile-width-only) {
      background-color: #63a73a;
    }

    @media (min-width: $width-tablet) {
      background-image: none;
    }
  }

  @media (min-width: $width-tablet) {
    margin-bottom: 530px;
  }

  @media (min-width: $width-desktop) {
    margin-top: 30px;
    margin-bottom: 270px;
  }
}

.header-block__wrapper {
  position: relative;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: column;
  }
}

.header-block__title {
  @include zero-indent;
  @include text(36px, 36px);
  font-weight: 400;
  margin-bottom: 25px;
  padding-top: 27px;

  @media (min-width: $width-tablet) {
    @include text(60px, 60px);
    margin-left: 88px;
    margin-bottom: 41px;
    width: 500px;
    color: $title;
    text-align: left;
  }

  @media (min-width: $width-desktop) {
    margin-left: 80px;
  }
}

.header-block__subtitle {
  @include zero-indent;
  @include text(14px, 14px);
  text-transform: uppercase;
  margin-bottom: 28px;

  @media (min-width: $width-tablet) {
    @include text(20px, 20px);
    width: 500px;
    color: $title;
    text-align: left;
    margin-left: 88px;
    margin-bottom: 49px;
  }

  @media (min-width: $width-desktop) {
    margin-left: 80px;
    margin-bottom: 53px;
  }
}

.header-block__image {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 5px;

  @media (min-width: $width-tablet) {
    width: 709px;
    height: 609px;
    top: 227px;
    left: 30px;
    z-index: -1;

    @include pseudo($display: block, $pos: absolute, $content: "");
  }

  @media (min-width: $width-desktop) {
    width: 552px;
    height: 499px;
    top: -53px;
    left: 490px;
  }
}

.header-block__button {
  position: relative;

  @include text(14px, 18px);

  @media (min-width: $width-tablet) {
    @include text(20px, 20px);
    margin-left: 88px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media (min-width: $width-desktop) {
    width: 245px;
    margin-left: 80px;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}
