.header-block {
  position: relative;
  margin-bottom: 20px;

  font-family: $font-title;
  font-weight: 400;
  text-align: center;
  color: $white;
  display: flex;

  &::before {
    @include pseudo($display: block, $pos: absolute, $content: "");
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    height: 305px;
    background-color: #63a73a;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;

    @media (min-width: $width-tablet) {
      background-color: $white;
      background-image: none;
    }

    @media (min-width: $width-desktop) {
      @include pseudo($display: block, $pos: absolute, $content: "");
      top: -175px;
      left: 50%;
      height: 696px;
      background-color: #63a73a;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: top left;
    }
  }

  @media (min-width: $width-tablet) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 120px;
  }
}

.header-block__wrapper {
  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: column;
  }
}

.header-block__title {
  @include zero-indent;
  @include text(36px, 36px);
  font-weight: 400;
  margin-bottom: 25px;
  padding-top: 30px;

  @media (min-width: $width-tablet) {
    @include text(60px, 60px);
    width: 550px;
    color: $title;
    text-align: left;
    order: -3;
  }
}

.header-block__subtitle {
  @include zero-indent;
  @include text(14px, 14px);
  text-transform: uppercase;
  margin-bottom: 25px;

  @media (min-width: $width-tablet) {
    @include text(20px, 20px);
    color: $title;
    text-align: left;
    order: -2;
  }
}

.header-block__image {
  display: block;
  position: relative;
  margin: 0 auto;
}

.header-block__button {
  @include text(14px, 18px);

  @media (min-width: $width-tablet) {
    @include text(20px, 20px);
    order: -1;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media (min-width: $width-desktop) {
    width: 245px;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}
