.main-nav__toggle {
  width: 24px;
  height: 18px;

  background-color: transparent;
  border: none;

  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
}

.site-list__item {
  @include text(20px, 20px);
  font-family: $font-title;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid $bg-grey;
}

.site-list__item-link {
  color: $title;
  text-decoration: none;
  
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
