.page-header {
  margin: 0 auto;
  padding-left: 20px;
  padding-top: 10px;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $bg-grey;
}

.page-header__logo {
  display: block;
  width: 320px;
  height: 65px;
}

.page-header__toggle {
  width: 24px;
  height: 18px;

  background-color: transparent;
  border: none;

  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
}
