.page-footer {
  background-color: $bg-grey;
}

.page-footer__wrapper {
  width: $width-mobile;
  margin: 0 auto;
}

.page-footer__contacts--white {
  background-color: $white;
}

.page-footer__logo {
  text-align: center;
}
