.page-footer {
  background-color: $bg-grey;
}

.page-footer__contacts--white {
  background-color: $white;
}

.page-footer__logo {
  text-align: center;
}

.page-footer__inner {
  @media (min-width: $width-tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
