.present {
  min-height: 289px;

  text-align: center;

  background-color: $green;
  background-image: url("../img/gift-photo-desktop@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.present__description {
  @include text(16px, 20px);
  font-family: $font-main;
  font-weight: 400;
  color: $white;

  padding-top: 190px;
  padding-right: 50px;
  padding-bottom: 40px;
  padding-left: 50px;
}
