.programs-item {
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-right: 35px;
  padding-bottom: 20px;
  padding-left: 20px;


  background-color: $bg-grey;
}

.programs-item__title {
  @include text(24px, 37px);
  font-family: $font-title;
  font-weight: 400;
  color: $title;
  text-transform: uppercase;
}

.programs-item__link {
  @include text(16px, 16px);
  font-family: $font-title;
  font-weight: 400;
  color: $title;
  text-transform: uppercase;

  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}
