.programs-item {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 16px;
  padding-top: 10px;
  padding-bottom: 20px;

  background-color: $bg-grey;

  @media (min-width: $width-tablet) {
    padding-left: 52px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-top: 76px;

    margin-bottom: 28px;
  }

  @media (min-width: $width-desktop) {
    width: 570px;
  }
}

.programs-item--slim {
  @media (min-width: $width-tablet) {
    padding-right: 275px;
  }
}

.programs-item--mass {
  @media (min-width: $width-tablet) {
    padding-right: 315px;
  }
}

.programs-item__title {
  position: relative;
  padding-left: 70px;
  margin-bottom: 29px;

  @include text(24px, 37px);
  font-family: $font-title;
  font-weight: 400;
  color: $title;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    @include text(36px, 37px);
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 25px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 160px;
    margin-bottom: 70px;
  }

  &::before {
    @include pseudo($display: block, $pos: absolute, $content: "");
    top: -6px;
    left: 2px;

    background-color: $green;
    border-radius: 50%;

    width: 50px;
    height: 50px;

    @media (min-width: $width-tablet) {
      left: 393px;
      top: 15px;

      width: 200px;
      height: 200px;
    }

    @media (min-width: $width-desktop) {

      top: -30px;
      left: 0;

      width: 100px;
      height: 100px;
    }
  }
}

.programs-item__title--slim {
  &::after {
    @include pseudo($display: block, $pos: absolute, $content: "");
    top: -9px;
    left: 9px;

    @include image-size(35px, 49px);
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;

    @media (min-width: $width-tablet) {
      top: 4px;
      left: 425px;

      @include image-size(141px, 194px);
    }

    @media (min-width: $width-desktop) {
      top: -35px;
      left: 15px;

      @include image-size(71px, 97px);
    }
  }
}

.programs-item__title--mass {
  &::after {
    @include pseudo($display: block, $pos: absolute, $content: "");
    top: 5px;
    left: -7px;

    @include image-size(67px, 28px);
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;

    @media (min-width: $width-tablet) {
      top: 60px;
      left: 360px;

      @include image-size(268px, 113px);
    }

    @media (min-width: $width-desktop) {
      top: -5px;
      left: -20px;

      @include image-size(134px, 57px);
    }
  }
}

.programs-item__description {
  padding-bottom: 21px;
  margin-bottom: 19px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $width-tablet) {
    @include text(16px, 24px);
    // padding-right: 264px;
    margin-bottom: 35px;
    border-bottom: none;
  }

  @media (min-width: $width-desktop) {
    padding-right: 0;
  }
}

.programs-item__link {
  position: relative;

  @include text(16px, 16px);
  font-family: $font-title;
  font-weight: 400;
  color: $title;
  text-transform: uppercase;

  text-decoration: none;

  &::after {
    @include pseudo($display: block, $pos: absolute, $content: "");
    width: 25px;
    height: 12px;
    right: -37px;
    top: 7px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat center;

    @media (min-width: $width-tablet) {
      top: 10px;
      right: -48px;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $width-tablet) {
    @include text(20px, 20px);
  }
}
