.site-list {
  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $width-desktop) {
    max-width: 550px;
  }
}

.site-list__item {
  @include text(20px, 20px);
  font-family: $font-title;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 22px;
  border-bottom: 1px solid $bg-grey;

  @media (max-width: $mobile-width-only) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $width-tablet) {
    @include text(18px, 25px);
    font-weight: 400;
    border-bottom: none;
    margin-right: 35px;
    padding-top: 25px;
    padding-bottom: 20px;
  }

  @media (min-width: $width-desktop) {
    @include text(20px, 25px);
    margin-right: 34px;
  }

  &:last-child {
    @media (min-width: $width-tablet) {
      margin-right: 0;
    }
  }
}

.site-list__item:first-child {
  border-top: 1px solid $bg-grey;

  @media (min-width: $width-tablet) {
    border-top: none;
  }
}

.site-list__item-link {
  color: $title;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $width-tablet) {
    padding-bottom: 6px;
  }
}

.site-list__item-link--active {
  border-bottom: 2px solid $green;
}

.site-list__item-link--index {
  @media (min-width: $width-desktop) {
    color: $white;
  }
}

.site-list__item-link--active-index {
  border-bottom: 2px solid $green;

  @media (min-width: $width-desktop) {
    border-bottom: 2px solid $white;
  }
}
