.site-list {
  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.site-list__item {
  @include text(20px, 20px);
  font-family: $font-title;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid $bg-grey;

  @media (min-width: $width-tablet) {
    @include text(18px, 25px);
    font-weight: 400;
    border-bottom: none;
    margin-right: 15px;
  }
}

.site-list__item-link {
  color: $title;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__item--active {
  border-bottom: 2px solid $green;
}

.site-list__item-link--index {
  @media (min-width: $width-desktop) {
    color: $white;
  }
}
