.title-line {
  position: relative;

  &::after {
    @include pseudo($display: block, $pos: absolute, $content: "");
    top: 35px;
    right: 0;

    width: 65%;
    height: 3px;
    background-color: $green;

    @media (min-width: $width-tablet) {
      top: 55px;
      width: 100%;
    }
  }
}
