.title-line {
  position: relative;

  &::after {
    @include pseudo($display: block, $pos: absolute, $content: "");
    top: 40px;
    right: 0;

    width: 100%;
    height: 3px;
    background-color: $green;

    @media (min-width: $width-tablet) {
      top: 22px;
      width: 100%;
    }
  }
}

// .title-line {
//   position: relative;

//   &::after {
//     @include pseudo($display: block, $pos: absolute, $content: "");
//     top: 35px;
//     right: 0;

//     width: 65%;
//     height: 3px;
//     background-color: $green;

//     @media (min-width: $width-tablet) {
//       top: 22px;
//       width: 100%;
//     }
//   }
// }
