html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include zero-indent;
  @include text(14px, 18px);
  font-family: $font-main;
  font-weight: 400;
  color: $text;

  width: $width-mobile;

  background-color: $white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
