// Шрифты
$font-title: "Oswald", "Arial", sans-serif;
$font-main: "Arial", sans-serif;

// Цвета
$green: #68b738;
$white: #ffffff;
$title: #111111;
$subtitle:#222222;
$text: #444444;
$border: #cdcdcd;
$bg-grey: #f2f2f2;
$shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
$error: #ff8282;

// Размеры
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1300px;
